*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.my-50{
  margin: 50px auto;
}

.grid.grid-cols-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.grid .card {
  transition: all 0.3s;
}

.grid .card img{
  max-width: 100%;
}

.rating .fas {
  color: #ff523b;
}

.rating .far {
  color: #ff523b;
}

.grid .card:hover {
  transform: translateY(-5px);
}


.page-btn {
  margin: 80px auto;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: #ffffff;
}

@media screen and (max-width: 992px){
  .grid.grid-cols-4{
      grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 780px){
  .grid.grid-cols-4{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px){
  .grid.grid-cols-4{
      grid-template-columns: repeat(1, 1fr);
  }
}